[
  {
    "environment": [
      { "name": "COMPANY_COUNT_MONGO_ORACLE_DELAY", "value": "${company_count_mongo_oracle_delay}" },
      { "name": "COMPANY_NUMBER_MONGO_ORACLE_DELAY", "value": "${company_number_mongo_oracle_delay}" },
      { "name": "COMPANY_NUMBER_MONGO_PRIMARY_DELAY", "value": "${company_number_mongo_primary_delay}" },
      { "name": "COMPANY_NUMBER_MONGO_ALPHA_DELAY", "value": "${company_number_mongo_alpha_delay}" },
      { "name": "DSQ_OFFICER_ID_MONGO_ORACLE_DELAY", "value": "${dsq_officer_id_mongo_oracle_delay}" },
      { "name": "COMPANY_NAME_MONGO_PRIMARY_DELAY", "value": "${company_name_mongo_primary_delay}" },
      { "name": "COMPANY_NAME_MONGO_ALPHA_DELAY", "value": "${company_name_mongo_alpha_delay}" },
      { "name": "COMPANY_STATUS_MONGO_PRIMARY_DELAY", "value": "${company_status_mongo_primary_delay}" },
      { "name": "COMPANY_STATUS_MONGO_ALPHA_DELAY", "value": "${company_status_mongo_alpha_delay}" },
      { "name": "COMPANY_STATUS_MONGO_ORACLE_DELAY", "value": "${company_status_mongo_oracle_delay}" },
      { "name": "INSOLVENCY_COMPANY_NUMBER_MONGO_ORACLE_DELAY", "value": "${insolvency_company_number_mongo_oracle_delay}" },
      { "name": "INSOLVENCY_CASE_COUNT_MONGO_ORACLE_DELAY", "value": "${insolvency_case_count_mongo_oracle_delay}" },
      { "name": "COMPANY_COUNT_MONGO_ORACLE_ENABLED", "value": "${company_count_mongo_oracle_enabled}" },
      { "name": "COMPANY_NUMBER_MONGO_ORACLE_ENABLED", "value": "${company_number_mongo_oracle_enabled}" },
      { "name": "COMPANY_NUMBER_MONGO_PRIMARY_ENABLED", "value": "${company_number_mongo_primary_enabled}" },
      { "name": "COMPANY_NUMBER_MONGO_ALPHA_ENABLED", "value": "${company_number_mongo_alpha_enabled}" },
      { "name": "DSQ_OFFICER_ID_MONGO_ORACLE_ENABLED", "value": "${dsq_officer_id_mongo_oracle_enabled}" },
      { "name": "COMPANY_NAME_MONGO_PRIMARY_ENABLED", "value": "${company_name_mongo_primary_enabled}" },
      { "name": "COMPANY_NAME_MONGO_ALPHA_ENABLED", "value": "${company_name_mongo_alpha_enabled}" },
      { "name": "COMPANY_STATUS_MONGO_PRIMARY_ENABLED", "value": "${company_status_mongo_primary_enabled}" },
      { "name": "COMPANY_STATUS_MONGO_ALPHA_ENABLED", "value": "${company_status_mongo_alpha_enabled}" },
      { "name": "COMPANY_STATUS_MONGO_ORACLE_ENABLED", "value": "${company_status_mongo_oracle_enabled}" },
      { "name": "INSOLVENCY_COMPANY_NUMBER_MONGO_ORACLE_ENABLED", "value": "${insolvency_company_number_mongo_oracle_enabled}" },
      { "name": "INSOLVENCY_CASE_COUNT_MONGO_ORACLE_ENABLED", "value": "${insolvency_case_count_mongo_oracle_enabled}" },
      { "name": "SPRING_DATASOURCE_DRIVER_CLASS_NAME", "value": "${jdbc_driver}" },
      { "name": "ENDPOINT_MONGODB_COMPANY_PROFILE_DB_NAME", "value": "${company_profile_db}" },
      { "name": "ENDPOINT_MONGODB_COMPANY_PROFILE_COLLECTION_NAME", "value": "${company_profile_collection}" },
      { "name": "ENDPOINT_MONGODB_DSQ_OFFICER_DB_NAME", "value": "${dsq_officer_db}" },
      { "name": "ENDPOINT_MONGODB_DSQ_OFFICER_COLLECTION_NAME", "value": "${dsq_officer_collection}" },
      { "name": "ENDPOINT_MONGODB_INSOLVENCY_DB_NAME", "value": "${insolvency_db}" },
      { "name": "ENDPOINT_MONGODB_INSOLVENCY_COLLECTION_NAME", "value": "${insolvency_collection}" },
      { "name": "ENDPOINT_MONGODB_READ_PREFERENCE", "value": "${mongodb_read_preference}" },
      { "name": "ELASTICSEARCH_PRIMARY_SEGMENTS", "value": "${elasticsearch_primary_segments}" },
      { "name": "ELASTICSEARCH_PRIMARY_SLICE_SIZE", "value": "${elasticsearch_primary_slice_size}" },
      { "name": "ELASTICSEARCH_PRIMARY_SLICE_FIELD", "value": "${elasticsearch_primary_slice_field}" },
      { "name": "ELASTICSEARCH_ALPHA_SEGMENTS", "value": "${elasticsearch_alpha_segments}" },
      { "name": "ELASTICSEARCH_ALPHA_SLICE_SIZE", "value": "${elasticsearch_alpha_slice_size}" },
      { "name": "ELASTICSEARCH_ALPHA_SLICE_FIELD", "value": "${elasticsearch_alpha_slice_field}" },
      { "name": "RESULTS_INITIAL_CAPACITY", "value": "${results_initial_capacity}" },
      { "name": "RESULTS_BUCKET", "value": "${results_bucket}" },
      { "name": "EMAIL_APPLICATION_ID", "value": "${email_application_id}" },
      { "name": "EMAIL_MESSAGE_ID", "value": "${email_message_id}" },
      { "name": "EMAIL_MESSAGE_TYPE", "value": "${email_message_type}" },
      { "name": "RESULTS_EXPIRY_TIME_IN_MILLIS", "value": "${results_expiry_time_in_millis}" },
      { "name": "AWS_REGION", "value": "${aws_region}"},
      { "name": "CACHE_EXPIRY_IN_SECONDS", "value": "${cache_expiry_in_seconds}"},
      { "name": "JAVA_MEM_ARGS", "value": "${java_mem_args}"}
    ],
    "name": "${service_name}",
    "image": "${docker_registry}/${service_name}:${release_version}",
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-create-group": "true",
        "awslogs-region": "${aws_region}",
        "awslogs-group": "/ecs/${name_prefix}/${service_name}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "secrets": [
      { "name": "SPRING_DATA_MONGODB_URI", "valueFrom": "${data-reconciliation-secret-mongo-url}" },
      { "name": "SPRING_DATASOURCE_URL", "valueFrom": "${data-reconciliation-secret-oracle-url}" },
      { "name": "SPRING_DATASOURCE_USERNAME", "valueFrom": "${data-reconciliation-secret-oracle-username}" },
      { "name": "SPRING_DATASOURCE_PASSWORD", "valueFrom": "${data-reconciliation-secret-oracle-password}" },
      { "name": "ELASTICSEARCH_PRIMARY_HOST", "valueFrom": "${data-reconciliation-secret-elasticsearch-primary-host}" },
      { "name": "ELASTICSEARCH_PRIMARY_PORT", "valueFrom": "${data-reconciliation-secret-elasticsearch-primary-port}" },
      { "name": "ELASTICSEARCH_PRIMARY_PROTOCOL", "valueFrom": "${data-reconciliation-secret-elasticsearch-primary-protocol}" },
      { "name": "ELASTICSEARCH_PRIMARY_INDEX", "valueFrom": "${data-reconciliation-secret-elasticsearch-primary-index}" },
      { "name": "ELASTICSEARCH_ALPHA_HOST", "valueFrom": "${data-reconciliation-secret-elasticsearch-alpha-host}" },
      { "name": "ELASTICSEARCH_ALPHA_PORT", "valueFrom": "${data-reconciliation-secret-elasticsearch-alpha-port}" },
      { "name": "ELASTICSEARCH_ALPHA_PROTOCOL", "valueFrom": "${data-reconciliation-secret-elasticsearch-alpha-protocol}" },
      { "name": "ELASTICSEARCH_ALPHA_INDEX", "valueFrom": "${data-reconciliation-secret-elasticsearch-alpha-index}" },
      { "name": "EMAIL_RECIPIENT_LIST", "valueFrom": "${data-reconciliation-secret-email-recipient-list}" },
      { "name": "EMAIL_SENDER", "valueFrom": "${data-reconciliation-secret-email-sender}" },
      { "name": "SCHEMA_REGISTRY_URL", "valueFrom": "${data-reconciliation-schema-registry-url}" },
      { "name": "KAFKA_BROKER_ADDR", "valueFrom": "${data-reconciliation-secret-kafka-broker-addr}" },
      { "name": "AWS_ACCESS_KEY_ID", "valueFrom": "${aws_access_key_id}"},
      { "name": "AWS_SECRET_ACCESS_KEY", "valueFrom": "${aws_secret_access_key}"}
    ]
  }
]
